.wrapper{
    font-family: 'Bungee Inline', cursive;
    font-style: Open Sans;
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #2F0C29;
}

.chapter-text {
    font-family: Open sans;
    font-size: 20px;
    color: rgba(242, 253, 255, 0.863);
    /* padding-bottom: 100px; */
}

.chapter-text p{
    font-size: 15pt !important;
    margin-bottom: 15pt !important;
}

.chapter-heading {
    display: flex;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Bungee Inline', cursive;
    padding: 20px;
    font-size: 70px;
    font-weight: 600;
    color: rgb(228, 156, 0);
}