.verse__description{
    display: flex;
    justify-content: center;
    padding-right: 20%;
    padding-left: 20%;
    font-size: 60px;
    text-align: center;
    opacity: 0.8;
    color: #68062C;
    font-family: 'Yellowtail', cursive;
    /* position: relative; */
    /* z-index: -1; */
}
.verse__ch {
    display: flex;
    justify-content: center;
    /* padding-top: 0; */
    padding-bottom: 0;
    font-family: 'Bungee Inline', cursive;
    /* padding: 20px; */
    padding-top: 60px;
    font-size: 30px;
    color: rgb(228, 156, 0);
    /* position: relative; */
    /* z-index: -1; */
}

@media screen and (max-width: 1024px){
    .verse__description{
        padding-right: 10%;
        padding-left: 10%;
        font-size: 50px
    }
}

@media screen and (max-width: 768px){
    .verse__description{
        padding-right: 10%;
        padding-left: 10%;
        font-size: 50px
    }
}