.NavBar{
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: 'Bungee Inline', cursive;
    flex-wrap: wrap;
    flex-direction: row;
    /* margin-top: 0; */
    padding-top: 0;
    padding-bottom: 0px;
    padding: 20px;
    font-size: 3vh;
    padding-left: 0.5%;
    padding-right: 0.5%;
    z-index: 100;
}


.bible__book{  
    font-size: 3vh;
    color: rgb(228, 156, 0);  
    padding-left: 0.25vw;
    padding-right: 0.25vw;
}

.bible__book:hover{
    color: rgb(255, 176, 6);
    cursor: pointer;
    transition: 0.3s;
}